{{#extend "masterpage0"}}
	{{#content "container"}}

		Blog List:
		<ul>
			{{#allcategories}}
				{{#is category "blogs0"}}
					{{#pages}}
						{{#datebetween date "2014-01-01" "2015-01-01"}}
							<li>
								{{renderpage this}}
							</li>
						{{/datebetween}}
					{{/pages}}
				{{/is}}

			{{/allcategories}}
		</ul>

		Blog Tags:
		<ul>
			{{#alltags }}
				<li><a href="/tag/{{tag }}.html"> {{tag }} </a></li>
			{{/alltags }}
		</ul>

		On post:
		Title:{{title}}
		{{> body }}
		Date: {{date}}

		Page tags:
		<ul>
			{{#each tags}}
				<li><a href="/tag/{{this }}.html"> {{this }} </a></li>
			{{/each }}
		</ul>
	{{/content}}
{{/extend}}
